---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ.vue";
---

<Layout 
    title="Cabinets & Closets FAQs - Your Questions Answered"
    description="Have questions? Find answers to commonly asked questions about custom cabinet and closet design, installation, and maintenance."
>
    <main>
        <FAQ client:load/>
        <div class="text-center text-xl my-10 mx-10">
            <h1 class="">Have a specific question?</h1>
            <p>Send us a message and we'll get back to you as soon as possible.</p>
            <br />
            <p>Email: info.cabinetsandclosets@gmail.com</p>
            <p>Call: (561) 221-2681</p>
        </div>
    </main>
</Layout>

<style>

</style>
